 Seattle - Airbnb Data Set.

In order to get a better grip over the Airbnb data set. Lets wrangle to get a better understanding, and prepare the data set.

In [13]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from IPython import display
%matplotlib inline

In [14]:
airbnb_listing_df = pd.read_csv('D:\OneDrive\Projects\predict_airbnb_prices_seattle\Predict-Airbnb-Prices-in-Seattle\Data\Airbnb_Seattle\seattle_airbnb_listing.csv')

airbnb_listing_df = pd.read_csv('Data/Airbnb_Seattle/seattle_airbnb_neighbourhoods.csv')

In [3]:
airbnb_df.shape

In [4]:
airbnb_df.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>id</th>
      <th>name</th>
      <th>host_id</th>
      <th>host_name</th>
      <th>neighbourhood_group</th>
      <th>neighbourhood</th>
      <th>latitude</th>
      <th>longitude</th>
      <th>room_type</th>
      <th>price</th>
      <th>minimum_nights</th>
      <th>number_of_reviews</th>
      <th>last_review</th>
      <th>reviews_per_month</th>
      <th>calculated_host_listings_count</th>
      <th>availability_365</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>2318</td>
      <td>Casa Madrona - Urban Oasis, 1 block from the P...</td>
      <td>2536</td>
      <td>Megan</td>
      <td>Central Area</td>
      <td>Madrona</td>
      <td>47.610819</td>
      <td>-122.290816</td>
      <td>Entire home/apt</td>
      <td>296</td>
      <td>4</td>
      <td>20</td>
      <td>9/18/2018</td>
      <td>0.16</td>
      <td>3</td>
      <td>345</td>
    </tr>
    <tr>
      <th>1</th>
      <td>4291</td>
      <td>Sunrise in Seattle Master Suite</td>
      <td>35749</td>
      <td>Jess &amp; Joey</td>
      <td>Other neighborhoods</td>
      <td>Roosevelt</td>
      <td>47.687801</td>
      <td>-122.313427</td>
      <td>Private room</td>
      <td>82</td>
      <td>2</td>
      <td>63</td>
      <td>10/6/2018</td>
      <td>0.96</td>
      <td>5</td>
      <td>365</td>
    </tr>
    <tr>
      <th>2</th>
      <td>5682</td>
      <td>Cozy Studio, min. to downtown -WiFi</td>
      <td>8993</td>
      <td>Maddy</td>
      <td>Delridge</td>
      <td>South Delridge</td>
      <td>47.523979</td>
      <td>-122.359891</td>
      <td>Entire home/apt</td>
      <td>48</td>
      <td>3</td>
      <td>461</td>
      <td>11/2/2018</td>
      <td>4.37</td>
      <td>1</td>
      <td>24</td>
    </tr>
    <tr>
      <th>3</th>
      <td>6606</td>
      <td>Fab, private seattle urban cottage!</td>
      <td>14942</td>
      <td>Joyce</td>
      <td>Other neighborhoods</td>
      <td>Wallingford</td>
      <td>47.654109</td>
      <td>-122.337605</td>
      <td>Entire home/apt</td>
      <td>90</td>
      <td>2</td>
      <td>134</td>
      <td>10/21/2018</td>
      <td>1.18</td>
      <td>3</td>
      <td>287</td>
    </tr>
    <tr>
      <th>4</th>
      <td>9419</td>
      <td>Glorious sun room w/ memory foambed</td>
      <td>30559</td>
      <td>Angielena</td>
      <td>Other neighborhoods</td>
      <td>Georgetown</td>
      <td>47.550620</td>
      <td>-122.320135</td>
      <td>Private room</td>
      <td>65</td>
      <td>2</td>
      <td>130</td>
      <td>9/9/2018</td>
      <td>1.29</td>
      <td>5</td>
      <td>336</td>
    </tr>
  </tbody>
</table>
</div>

In [5]:
airbnb_df.iloc[:10,:]

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>id</th>
      <th>name</th>
      <th>host_id</th>
      <th>host_name</th>
      <th>neighbourhood_group</th>
      <th>neighbourhood</th>
      <th>latitude</th>
      <th>longitude</th>
      <th>room_type</th>
      <th>price</th>
      <th>minimum_nights</th>
      <th>number_of_reviews</th>
      <th>last_review</th>
      <th>reviews_per_month</th>
      <th>calculated_host_listings_count</th>
      <th>availability_365</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>2318</td>
      <td>Casa Madrona - Urban Oasis, 1 block from the P...</td>
      <td>2536</td>
      <td>Megan</td>
      <td>Central Area</td>
      <td>Madrona</td>
      <td>47.610819</td>
      <td>-122.290816</td>
      <td>Entire home/apt</td>
      <td>296</td>
      <td>4</td>
      <td>20</td>
      <td>9/18/2018</td>
      <td>0.16</td>
      <td>3</td>
      <td>345</td>
    </tr>
    <tr>
      <th>1</th>
      <td>4291</td>
      <td>Sunrise in Seattle Master Suite</td>
      <td>35749</td>
      <td>Jess &amp; Joey</td>
      <td>Other neighborhoods</td>
      <td>Roosevelt</td>
      <td>47.687801</td>
      <td>-122.313427</td>
      <td>Private room</td>
      <td>82</td>
      <td>2</td>
      <td>63</td>
      <td>10/6/2018</td>
      <td>0.96</td>
      <td>5</td>
      <td>365</td>
    </tr>
    <tr>
      <th>2</th>
      <td>5682</td>
      <td>Cozy Studio, min. to downtown -WiFi</td>
      <td>8993</td>
      <td>Maddy</td>
      <td>Delridge</td>
      <td>South Delridge</td>
      <td>47.523979</td>
      <td>-122.359891</td>
      <td>Entire home/apt</td>
      <td>48</td>
      <td>3</td>
      <td>461</td>
      <td>11/2/2018</td>
      <td>4.37</td>
      <td>1</td>
      <td>24</td>
    </tr>
    <tr>
      <th>3</th>
      <td>6606</td>
      <td>Fab, private seattle urban cottage!</td>
      <td>14942</td>
      <td>Joyce</td>
      <td>Other neighborhoods</td>
      <td>Wallingford</td>
      <td>47.654109</td>
      <td>-122.337605</td>
      <td>Entire home/apt</td>
      <td>90</td>
      <td>2</td>
      <td>134</td>
      <td>10/21/2018</td>
      <td>1.18</td>
      <td>3</td>
      <td>287</td>
    </tr>
    <tr>
      <th>4</th>
      <td>9419</td>
      <td>Glorious sun room w/ memory foambed</td>
      <td>30559</td>
      <td>Angielena</td>
      <td>Other neighborhoods</td>
      <td>Georgetown</td>
      <td>47.550620</td>
      <td>-122.320135</td>
      <td>Private room</td>
      <td>65</td>
      <td>2</td>
      <td>130</td>
      <td>9/9/2018</td>
      <td>1.29</td>
      <td>5</td>
      <td>336</td>
    </tr>
    <tr>
      <th>5</th>
      <td>9460</td>
      <td>Downtown/Convention Ctr B&amp;B - Nice!</td>
      <td>30832</td>
      <td>Siena</td>
      <td>Downtown</td>
      <td>First Hill</td>
      <td>47.608010</td>
      <td>-122.328739</td>
      <td>Private room</td>
      <td>80</td>
      <td>3</td>
      <td>399</td>
      <td>10/28/2018</td>
      <td>3.56</td>
      <td>4</td>
      <td>133</td>
    </tr>
    <tr>
      <th>6</th>
      <td>9531</td>
      <td>The Adorable Sweet Orange Craftsman</td>
      <td>31481</td>
      <td>Cassie</td>
      <td>West Seattle</td>
      <td>Fairmount Park</td>
      <td>47.555389</td>
      <td>-122.384739</td>
      <td>Entire home/apt</td>
      <td>165</td>
      <td>2</td>
      <td>35</td>
      <td>10/8/2018</td>
      <td>0.42</td>
      <td>2</td>
      <td>267</td>
    </tr>
    <tr>
      <th>7</th>
      <td>9534</td>
      <td>The Coolest Tangerine Dream MIL!</td>
      <td>31481</td>
      <td>Cassie</td>
      <td>West Seattle</td>
      <td>Fairmount Park</td>
      <td>47.556236</td>
      <td>-122.385980</td>
      <td>Entire home/apt</td>
      <td>125</td>
      <td>2</td>
      <td>36</td>
      <td>10/29/2018</td>
      <td>0.43</td>
      <td>2</td>
      <td>352</td>
    </tr>
    <tr>
      <th>8</th>
      <td>9596</td>
      <td>the down home , spacious, central and fab!</td>
      <td>14942</td>
      <td>Joyce</td>
      <td>Other neighborhoods</td>
      <td>Wallingford</td>
      <td>47.654787</td>
      <td>-122.336520</td>
      <td>Entire home/apt</td>
      <td>120</td>
      <td>2</td>
      <td>76</td>
      <td>10/1/2018</td>
      <td>0.84</td>
      <td>3</td>
      <td>94</td>
    </tr>
    <tr>
      <th>9</th>
      <td>9909</td>
      <td>Luna Park Lower - West Seattle</td>
      <td>33360</td>
      <td>Laura</td>
      <td>West Seattle</td>
      <td>Fairmount Park</td>
      <td>47.565209</td>
      <td>-122.373748</td>
      <td>Entire home/apt</td>
      <td>125</td>
      <td>3</td>
      <td>57</td>
      <td>10/23/2018</td>
      <td>3.75</td>
      <td>8</td>
      <td>22</td>
    </tr>
  </tbody>
</table>
</div>